/*
 * TODO: create a button to toggle dark theme
 */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --succes: #28a745;
    --danger: #a72828;

    --main-color: #5c6bcc;
    --main-color-lighter: #a0a8f0;
    --main-color-darker: #4a529a;

    --dark-color: #101010;
    --dark-color-lighter: #1b1b1b;
    --dark-color-darker: #171717;

    --light-color: #e0e0e0;
    --light-color-lighter: #f5f5f5;
    --light-color-darker: #bcbcbc;

    --padding-input: 10px;
    --border-radius: 8px;
    --border-width: 2px;
    --border-style: solid;

    --transition: 0.5s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
    color: var(--light-color);
    font-family: "Inter", serif;
    line-height: 1.6;
    letter-spacing: 0.5px;
}

a {
    color: var(--main-color);
    text-decoration: none;
    transition: var(--transition);

    &:hover {
        color: var(--main-color-lighter);
        text-decoration: underline;
    }
}

textarea {
    resize: vertical;
}

input,
textarea {
    padding: var(--padding-input);
    color: var(--light-color);
    background-color: var(--dark-color-darker);
    border: 1px solid var(--dark-color-lighter);
    border-radius: var(--border-radius);
    caret-color: var(--main-color);

    &:focus {
        outline: 2px solid var(--main-color);
        background-color: var(--dark-color-lighter);
    }

    &::file-selector-button,
    &[type="submit"] {
        padding: calc(var(--padding-input) / 1.2);
        border: 2px solid var(--main-color);
        border-radius: var(--border-radius);
        background-color: var(--dark-color);
        color: var(--main-color);
        transition: var(--transition);
        width: fit-content;
        font-weight: bold;
    }

    &::file-selector-button:hover,
    &[type="submit"]:hover {
        border-color: var(--main-color);
        color: var(--dark-color);
        background-color: var(--main-color);
        cursor: pointer;
        transition: var(--transition);

    }

    &::placeholder {
        color: var(--light-color-darker);
        opacity: 0.8;
    }
}

#support {
    &:disabled {
        cursor: not-allowed;
        background-color: var(--dark-color-darker);
        color: var(--light-color-darker);
        border: 1px solid #2f2f2f;
        opacity: 0.6;
        transition: none;
    }
}

main {
    /*min-height: calc(100vh - 60px);*/
    min-height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    padding: 20px;
    background-color: var(--dark-color-lighter);
    border-radius: var(--border-radius);
    width: 60%;
    margin-top: 20px;
    margin-bottom: 40px;

    & > div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .form-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin: 0;
    }
}

header {
    background-color: var(--dark-color-darker);
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        gap: 20px;
    }
}

footer {
    background-color: var(--dark-color-darker);
    padding: 10px;
    color: var(--light-color);
    text-align: center;
    font-size: 0.9rem;
    border-top: 1px solid var(--dark-color-lighter);
    position: relative;
    bottom: 0;
    left: 0;
    max-width: 100vw;
}

.success-message {
    display: flex;
    align-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid var(--succes);
    border-radius: var(--border-radius);
    padding: 10px;
    margin: 10px 0;
    color: var(--succes);

    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
}
